button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: orange;
  color: $black;
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
  &[disabled] {
    background: $text;
  }
}

.autosuggest {
  input {
    background: $white;
    color: $dark-purple;
    &::placeholder {
      color: $black;
    }
  }
}
.filter label {
  font-weight: bold;
}
.filter__search input {
  height: 1.5rem;
  width: 10rem;
}
.filter__search > div {
  display: flex;
  align-items: center;
}
.filter__search button {
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1;
  margin-left: 0;
  border-radius: 0;
}
