.quiz {
  background: $white;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  color: $black;
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;
}
.quiz-konfig {
  background-color: $config;
}
.quiz-carrousel {
  background-color: $carrousel;

  .correct {
    border: 2px solid green;
    color: green;
  }
  .incorrect {
    border: 2px solid red;
    color: red;
  }
  h2.correct,
  h2.incorrect {
    border: none;
  }
}

.rechts {
  float: right;
}

.quiz-result {
  background-color: $result;
}
