.quiz-carrousel {
  background-color: azure;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: azure;
  color: $black;
  border: none;
  box-shadow: none;
  margin: 0.5rem;
  font-weight: bold;

  .correct {
    background-color: green;
  }
  .incorrect {
    background-color: red;
  }
}

.rechts {
  float: right;
}
