$dark-purple: #232946;
$background: #0c7536;
$config: #c5bfbf;
$carrousel: #9ff6f6;
$result: #8ccd29d2;
$white: #fffffe;
$text: #a7a9be;
$orange: #ff8906;
$black: #0f0e17;
$medium-red: #aa0840;
$light-red: #f25f4c;

:root {
  --link-color: #{$medium-red};
  --hover-color: #{$orange};
}
