/* SCSS RGB */
$bdazzled-blue: rgba(61, 90, 128, 1);
$pale-cerulean: rgba(152, 193, 217, 1);
$light-cyan: rgba(224, 251, 252, 1);
$burnt-sienna: rgba(238, 108, 77, 1);
$gunmetal: rgba(41, 50, 65, 1);

$background: rgba(61, 90, 128, 1);
$white: rgba(224, 251, 252, 1);
$config: rgba(224, 251, 252, 1);
$carrousel: rgba(152, 193, 217, 1);
$result: rgba(238, 108, 77, 1);
$text: rgba(41, 50, 65, 1);

$correct: rgb(4, 124, 66);
$incorrect: rgb(212, 48, 8);

$dark-purple: #232946;
$orange: #ff8906;
$black: #0f0e17;
$medium-red: #aa0840;
$light-red: #f25f4c;

:root {
  --link-color: #{$burnt-sienna};
  --hover-color: #{$gunmetal};
}
